In [12]:
# Creating a series

import pandas as pd



s = pd.Series(['banana', 'yellow','orange',33,3333,'banana'])


print(s)

0    banana
1    yellow
2    orange
3        33
4      3333
5    banana
dtype: object

In [16]:
# manually assign index values to a series

# by passing a Python list

s = pd.Series(['Wes McKinney', 'Creator of Pandas',20071987],

              index=['Person', 'Who','DOB'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
DOB                20071987
dtype: object

In [17]:
scientists = pd.DataFrame({

    'Name': ['Rosaline Franklin', 'William Gosset'],

    'Occupation': ['Chemist', 'Statistician'],

    'Born': ['1920-07-25', '1876-06-13'],

    'Died': ['1958-04-16', '1937-10-16'],

    'Age': [37, 61]})

print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [18]:
scientists = pd.DataFrame(

    data={'Occupation': ['Chemist', 'Statistician'],

          'Born': ['1920-07-25', '1876-06-13'],

          'Died': ['1958-04-16', '1937-10-16'],

    'Age': [37, 61]},

    index=['Rosaline Franklin', 'William Gosset'],

    columns=['Occupation', 'Born', 'Died', 'Age'])

print(scientists)

                     Occupation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

In [19]:
# default values
df = pd.read_csv("gapminder.csv",skiprows=3)
df.head()

               Country    Year       life population  income      region
0          Afghanistan  1800.0  28.211000    3280000   603.0  South Asia
1          Afghanistan  1801.0  28.200753         XX   603.0  South Asia
2  # This is a comment     NaN        NaN        NaN     NaN         NaN
3          Afghanistan  1802.0  28.190507         YY   603.0  South Asia
4          Afghanistan  1803.0  28.180260        NaN   603.0  South Asia

In [23]:
# Boolean Subsetting: Series
life = df['life']
print(type(life))
print(life.head())

<class 'pandas.core.series.Series'>
0    28.211000
1    28.200753
2          NaN
3    28.190507
4    28.180260
Name: life, dtype: float64

In [25]:
# get basic stats

print(life.describe())

count    41284.000000
mean        42.884766
std         16.220812
min          1.000000
25%         31.000000
50%         35.118539
75%         55.600000
max         84.100000
Name: life, dtype: float64

In [26]:
# get mean

print(life.mean())

42.884766038268474

In [28]:
print(life[life > life.mean()].head())

174    43.0
175    43.5
176    44.0
177    44.5
178    45.0
Name: life, dtype: float64

In [31]:
print(life>life.mean())

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
41255     True
41256     True
41257     True
41258     True
41259     True
41260     True
41261     True
41262     True
41263     True
41264     True
41265     True
41266     True
41267     True
41268     True
41269     True
41270     True
41271     True
41272     True
41273     True
41274     True
41275     True
41276     True
41277     True
41278     True
41279     True
41280     True
41281     True
41282     True
41283     True
41284     True
Name: life, Length: 41285, dtype: bool

In [32]:
print(type(life > life.mean()))

<class 'pandas.core.series.Series'>

In [35]:
# Vectors of the Same Length
# If you perform an operation between two vectors of the same length, the resulting vector will be an element-by-element 
# calculation of the vectors.
print(life + life)

0         56.422000
1         56.401507
2               NaN
3         56.381013
4         56.360520
5         56.340027
6         56.319533
7         56.299040
8         56.278547
9         56.258053
10        56.237560
11        56.217067
12        56.196573
13        56.176080
14        56.155587
15        56.135093
16        56.114600
17        56.094107
18        56.073613
19        56.053120
20        56.032627
21        56.012133
22        55.991640
23        55.971147
24        55.950653
25        55.930160
26        55.909667
27        55.889173
28        55.868680
29        55.848187
            ...
41255    112.400000
41256    109.600000
41257    107.000000
41258    104.400000
41259    101.600000
41260     99.600000
41261     97.800000
41262     96.600000
41263     95.600000
41264     95.400000
41265     95.600000
41266     96.800000
41267     98.000000
41268     99.200000
41269    100.800000
41270    103.800000
41271    108.200000
41272    112.000000
41273    115.940000
41274    120.020000
41275    157.800000
41276    162.000000
41277    156.500000
41278    160.000000
41279    161.660000
41280    163.600000
41281    161.260000
41282    159.760000
41283    160.000000
41284    160.200000
Name: life, Length: 41285, dtype: float64

In [38]:
print(life * life)
#print(life * 2)
#print(life + 100)

0         795.860521
1         795.282488
2                NaN
3         794.704666
4         794.127054
5         793.549651
6         792.972459
7         792.395476
8         791.818704
9         791.242141
10        790.665789
11        790.089646
12        789.513714
13        788.937991
14        788.362478
15        787.787176
16        787.212083
17        786.637200
18        786.062528
19        785.488065
20        784.913813
21        784.339770
22        783.765937
23        783.192315
24        782.618902
25        782.045699
26        781.472707
27        780.899924
28        780.327351
29        779.754988
            ...
41255    3158.440000
41256    3003.040000
41257    2862.250000
41258    2724.840000
41259    2580.640000
41260    2480.040000
41261    2391.210000
41262    2332.890000
41263    2284.840000
41264    2275.290000
41265    2284.840000
41266    2342.560000
41267    2401.000000
41268    2460.160000
41269    2540.160000
41270    2693.610000
41271    2926.810000
41272    3136.000000
41273    3360.520900
41274    3601.200100
41275    6225.210000
41276    6561.000000
41277    6123.062500
41278    6400.000000
41279    6533.488900
41280    6691.240000
41281    6501.196900
41282    6380.814400
41283    6400.000000
41284    6416.010000
Name: life, Length: 41285, dtype: float64

In [41]:
rev_life = life.sort_index(ascending=False)
print(rev_life)

41284    80.100000
41283    80.000000
41282    79.880000
41281    80.630000
41280    81.800000
41279    80.830000
41278    80.000000
41277    78.250000
41276    81.000000
41275    78.900000
41274    60.010000
41273    57.970000
41272    56.000000
41271    54.100000
41270    51.900000
41269    50.400000
41268    49.600000
41267    49.000000
41266    48.400000
41265    47.800000
41264    47.700000
41263    47.800000
41262    48.300000
41261    48.900000
41260    49.800000
41259    50.800000
41258    52.200000
41257    53.500000
41256    54.800000
41255    56.200000
           ...
29       27.924093
28       27.934340
27       27.944587
26       27.954833
25       27.965080
24       27.975327
23       27.985573
22       27.995820
21       28.006067
20       28.016313
19       28.026560
18       28.036807
17       28.047053
16       28.057300
15       28.067547
14       28.077793
13       28.088040
12       28.098287
11       28.108533
10       28.118780
9        28.129027
8        28.139273
7        28.149520
6        28.159767
5        28.170013
4        28.180260
3        28.190507
2              NaN
1        28.200753
0        28.211000
Name: life, Length: 41285, dtype: float64

In [48]:
# If we perform an operation using life and rev_life, it will still be conducted on an element-by-element basis, 
# but the vectors will be aligned first before the operation is carried out.
print(life + rev_life)

0         56.422000
1         56.401507
2               NaN
3         56.381013
4         56.360520
5         56.340027
6         56.319533
7         56.299040
8         56.278547
9         56.258053
10        56.237560
11        56.217067
12        56.196573
13        56.176080
14        56.155587
15        56.135093
16        56.114600
17        56.094107
18        56.073613
19        56.053120
20        56.032627
21        56.012133
22        55.991640
23        55.971147
24        55.950653
25        55.930160
26        55.909667
27        55.889173
28        55.868680
29        55.848187
            ...
41255    112.400000
41256    109.600000
41257    107.000000
41258    104.400000
41259    101.600000
41260     99.600000
41261     97.800000
41262     96.600000
41263     95.600000
41264     95.400000
41265     95.600000
41266     96.800000
41267     98.000000
41268     99.200000
41269    100.800000
41270    103.800000
41271    108.200000
41272    112.000000
41273    115.940000
41274    120.020000
41275    157.800000
41276    162.000000
41277    156.500000
41278    160.000000
41279    161.660000
41280    163.600000
41281    161.260000
41282    159.760000
41283    160.000000
41284    160.200000
Name: life, Length: 41285, dtype: float64

In [49]:
# boolean vectors will subset rows

print(scientists[scientists['Age'] > scientists['Age'].mean()])

                  Occupation        Born        Died  Age
William Gosset  Statistician  1876-06-13  1937-10-16   61

# Syntax

Summary

Selection Result

df[column_name] Single column

df[[column1, column2, ... ]] Multiple columns

df.loc[row_label] Row by row index label (row name)

df.loc[[label1, label2, ...]] Multiple rows by index label

df.iloc[row_number] Row by row number

df.iloc[[row1, row2, ...]] Multiple rows by row number

df.ix[label_or_number] Row by index label or number

df.ix[[lab_num1, lab_num2, ...] Multiple rows by index label or number

df[bool] Row based on

bool df[[bool1, bool2, ...]] Multiple rows based on

bool df[start:stop:step] Rows based on slicing notation