# OBJECTIVES
This chapter will cover:

1. Tidy data

2. Concatenating data

3. Merging data sets

In [ ]:
# Creating a csv file for concat
scientists = pd.DataFrame({

    'Name': ['Rosaline Franklin', 'William Gosset'],

    'Occupation': ['Chemist', 'Statistician'],

    'Born': ['1920-07-25', '1876-06-13'],

    'Died': ['1958-04-16', '1937-10-16'],

    'Age': [37, 61]})

print(scientists)

In [12]:
import pandas as pd

df1 = pd.DataFrame({
    'A' : ['a0','a1','a2','a3'],
    'B' : ['b0','b1','b2','b3'],
    'C' : ['c0','c1','c2','c3'],
    'D' : ['d0','d1','d2','d3'],
    })
df2 = pd.DataFrame({
    'A' : ['a4','a5','a6','a7'],
    'B' : ['b4','b5','b6','b7'],
    'C' : ['c4','c5','c6','c7'],
    'D' : ['d4','d5','d6','d7'],
    })
df3 = pd.DataFrame({
    'A' : ['a8','a9','a10','a11'],
    'B' : ['b8','b9','b10','b11'],
    'C' : ['c8','c9','c10','c11'],
    'D' : ['d8','d9','d10','d11'],
    })

In [13]:
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [14]:
# Stacking the dataframes on top of each other uses the concat function in Pandas. 
# All of the dataframes to be concatenated are passed in a list.

row_concat = pd.concat([df1, df2, df3])

print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [20]:
# subset the fourth row of the concatenated dataframe

subset_row = row_concat.iloc[3,]
print(type(subset_row))
print(subset_row)

<class 'pandas.core.series.Series'>
A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

In [21]:
# create a new row of data

new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])

print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [31]:
# attempt to add the new row to a dataframe

print(pd.concat([df1, new_row_series]))

# its added as a new column

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

In [29]:
# note the double brackets

new_row_df = pd.DataFrame([['n1', 'n2', 'n3', 'n4']],
                          columns=['A', 'B', 'C', 'D'])

# Change one the column's name and check the results after concating
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [30]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [32]:
# appending dataframes
print(df1.append(df2))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [36]:
# Using a single-row DataFrame:

print(type(new_row_df))

print(df1.append(new_row_df))

<class 'pandas.core.frame.DataFrame'>
    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

In [43]:
# Using a Python dictionary:
data_dict = {'A': 'n1',
             'B': 'n2',
             'C': 'n3',
             'D': 'n4'
             #'E': 'n5'
              }



print(df1.append(data_dict, ignore_index=True))
# try with ignore_index = False

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

In [47]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)

print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

In [48]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=False)

print(row_concat_i)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [66]:
print("\n  No duplicate columns names\n")

col_concat = pd.concat([df1, df2, df3], axis=1,ignore_index=True)

print(col_concat)

  No duplicate columns names

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [62]:
# column wise concatenation

col_concat = pd.concat([df1, df2, df3], axis=1,ignore_index=False)

print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [63]:
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

In [64]:
col_concat['new_col_list'] = ['n1', 'n2', 'n3', 'n4']

print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4


# Concatenation With Different Indices

In [73]:
df1.columns = ['A', 'B', 'C', 'D']

df2.columns = ['E', 'F', 'G', 'H']

df3.columns = ['A', 'C', 'F', 'H']

print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [77]:
row_concat = pd.concat([df1, df2, df3])

print(row_concat)

     A    B    C    D    E    F    G    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN
0  NaN  NaN  NaN  NaN   a4   b4   c4   d4
1  NaN  NaN  NaN  NaN   a5   b5   c5   d5
2  NaN  NaN  NaN  NaN   a6   b6   c6   d6
3  NaN  NaN  NaN  NaN   a7   b7   c7   d7
0   a8  NaN   b8  NaN  NaN   c8  NaN   d8
1   a9  NaN   b9  NaN  NaN   c9  NaN   d9
2  a10  NaN  b10  NaN  NaN  c10  NaN  d10
3  a11  NaN  b11  NaN  NaN  c11  NaN  d11

C:\Users\babas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [78]:
print(pd.concat([df1, df2, df3], join='inner'))

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

In [80]:
print(pd.concat([df1,df3]))#, ignore_index=False, join='inner'))

     A    B    C    D    F    H
0   a0   b0   c0   d0  NaN  NaN
1   a1   b1   c1   d1  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN
3   a3   b3   c3   d3  NaN  NaN
0   a8  NaN   b8  NaN   c8   d8
1   a9  NaN   b9  NaN   c9   d9
2  a10  NaN  b10  NaN  c10  d10
3  a11  NaN  b11  NaN  c11  d11

C:\Users\babas\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [81]:
print(pd.concat([df1,df3], ignore_index=False, join='inner'))

     A    C
0   a0   c0
1   a1   c1
2   a2   c2
3   a3   c3
0   a8   b8
1   a9   b9
2  a10  b10
3  a11  b11

In [85]:
df1.index = [0, 1, 2, 3]

df2.index = [4, 5, 6, 7]

df3.index = [0, 2, 5, 7]

In [86]:
print(df1)
print(df2)
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
    E   F   G   H
4  a4  b4  c4  d4
5  a5  b5  c5  d5
6  a6  b6  c6  d6
7  a7  b7  c7  d7
     A    C    F    H
0   a8   b8   c8   d8
2   a9   b9   c9   d9
5  a10  b10  c10  d10
7  a11  b11  c11  d11

In [87]:
col_concat = pd.concat([df1, df2, df3], axis=1)

print(col_concat)

     A    B    C    D    E    F    G    H    A    C    F    H
0   a0   b0   c0   d0  NaN  NaN  NaN  NaN   a8   b8   c8   d8
1   a1   b1   c1   d1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2   a2   b2   c2   d2  NaN  NaN  NaN  NaN   a9   b9   c9   d9
3   a3   b3   c3   d3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   a4   b4   c4   d4  NaN  NaN  NaN  NaN
5  NaN  NaN  NaN  NaN   a5   b5   c5   d5  a10  b10  c10  d10
6  NaN  NaN  NaN  NaN   a6   b6   c6   d6  NaN  NaN  NaN  NaN
7  NaN  NaN  NaN  NaN   a7   b7   c7   d7  a11  b11  c11  d11

In [88]:
print(pd.concat([df1, df3], axis=1, join='inner'))

    A   B   C   D   A   C   F   H
0  a0  b0  c0  d0  a8  b8  c8  d8
2  a2  b2  c2  d2  a9  b9  c9  d9

In [90]:
#  MERGING MULTIPLE DATA SETS

person = pd.DataFrame({
    'ident' : ['dyer','pb','lake','roe','danforth'],
    'personal' : ['William','Frank','Anderson','Valentia','Frank'],
    'family':['Dyer','Pabodie','Lake','Roerich','Danforth']
})
print(person)

      ident  personal    family
0      dyer   William      Dyer
1        pb     Frank   Pabodie
2      lake  Anderson      Lake
3       roe  Valentia   Roerich
4  danforth     Frank  Danforth

In [91]:
site = pd.DataFrame({
    'name' : ['DR-1','DR-3','MSK-4'],
    'lat' : [-49.85,-47.15,-48.87],
    'long': [-128.57,-126.72,-123.40]
})
print(site)

    name    lat    long
0   DR-1 -49.85 -128.57
1   DR-3 -47.15 -126.72
2  MSK-4 -48.87 -123.40

In [ ]:
   ident   site       dated

0    619   DR-1  1927-02-08

1    622   DR-1  1927-02-10

2    734   DR-3  1939-01-07

3    735   DR-3  1930-01-12

4    751   DR-3  1930-02-26

5    752   DR-3         NaN

6    837  MSK-4  1932-01-14

7    844   DR-1  1932-03-22

In [94]:
visited = pd.DataFrame({
    'ident' :[619,622,734,735,751,752,837,844],
    'site'  :['DR-1','DR-1','DR-3','DR-3','DR-3','DR-3','MSK-4','DR-1'],
    'dated' : ['1927-02-08','1927-02-10','1939-01-07','1930-01-12','1930-02-26','NA','1932-01-14','1932-03-22']
})
print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3          NA
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [ ]:
 taken person quant  reading

0     619   dyer   rad    9.82
1     619   dyer   sal    0.13
2     622   dyer   rad    7.80
3     622   dyer   sal    0.09
4     734     pb   rad    8.41
5     734   lake   sal    0.05
6     734     pb  temp  -21.50
7     735     pb   rad    7.22
8     735    NaN   sal    0.06
9     735    NaN  temp  -26.00
10    751     pb   rad    4.35
11    751     pb  temp  -18.50
12    751   lake   sal    0.10
13    752   lake   rad    2.19
14    752   lake   sal    0.09
15    752   lake  temp  -16.00
16    752    roe   sal   41.60
17    837   lake   rad    1.46
18    837   lake   sal    0.21
19    837    roe   sal   22.50
20    844    roe   rad   11.25

In [101]:
survey = pd.DataFrame({
    'taken' : [619,619,622,622,734,734,734,735,735,735,751,751,751,752,752,752,752,837,837,837,844],
    'person' :['dyer','dyer','dyer','dyer','pb','lake','pb','pb','NA','NA','pb','pb','lake','lake','lake','lake','roe','lake'\
              ,'lake','roe','roe'],
    'quant' :['rad','sal','rad','sal','rad','sal','temp','rad','sal','temp','rad','temp','sal','rad','sal','temp',
             'sal','rad','sal','sal','rad'],
    'reading':[9.82,0.13,7.80,0.09,8.41,0.05,-21.50,7.22,0.06,-26.00,4.35,-18.50,0.10,2.19,0.09,-16.00,41.60,1.46,\
               0.21,22.50,11.25]
})
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735     NA   sal     0.06
9     735     NA  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

# Table - How the Pandas how Parameter Relates to SQL

Pandas SQL Description

left left outer Keep all the keys from the left

right right outer Keep all the keys from the right

outer full outer Keep all the keys from both left and right

inner inner Keep only the keys that exist in both left and right

In [103]:
# One-to-One Merge
visited_subset = visited.loc[[0, 2, 6], ]

In [104]:
print(visited_subset)

   ident   site       dated
0    619   DR-1  1927-02-08
2    734   DR-3  1939-01-07
6    837  MSK-4  1932-01-14

In [106]:
# the default value for 'how' is 'inner'

# so it doesn't need to be specified

o2o_merge = site.merge(visited_subset,left_on='name', right_on='site')

print(o2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [107]:
# Many-to-One Merge
m2o_merge = site.merge(visited, left_on='name', right_on='site')

print(m2o_merge)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3          NA
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

In [108]:
# Many-to-Many Merge
ps = person.merge(survey, left_on='ident', right_on='person')

vs = visited.merge(survey, left_on='ident', right_on='taken')

print(ps)

   ident  personal   family  taken person quant  reading
0   dyer   William     Dyer    619   dyer   rad     9.82
1   dyer   William     Dyer    619   dyer   sal     0.13
2   dyer   William     Dyer    622   dyer   rad     7.80
3   dyer   William     Dyer    622   dyer   sal     0.09
4     pb     Frank  Pabodie    734     pb   rad     8.41
5     pb     Frank  Pabodie    734     pb  temp   -21.50
6     pb     Frank  Pabodie    735     pb   rad     7.22
7     pb     Frank  Pabodie    751     pb   rad     4.35
8     pb     Frank  Pabodie    751     pb  temp   -18.50
9   lake  Anderson     Lake    734   lake   sal     0.05
10  lake  Anderson     Lake    751   lake   sal     0.10
11  lake  Anderson     Lake    752   lake   rad     2.19
12  lake  Anderson     Lake    752   lake   sal     0.09
13  lake  Anderson     Lake    752   lake  temp   -16.00
14  lake  Anderson     Lake    837   lake   rad     1.46
15  lake  Anderson     Lake    837   lake   sal     0.21
16   roe  Valentia  Roerich    752    roe   sal    41.60
17   roe  Valentia  Roerich    837    roe   sal    22.50
18   roe  Valentia  Roerich    844    roe   rad    11.25

In [109]:
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735     NA   sal     0.06
9     735   DR-3  1930-01-12    735     NA  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3          NA    752   lake   rad     2.19
14    752   DR-3          NA    752   lake   sal     0.09
15    752   DR-3          NA    752   lake  temp   -16.00
16    752   DR-3          NA    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [110]:
ps_vs = ps.merge(vs,left_on=['ident', 'taken', 'quant', 'reading'],right_on=['person', 'ident', 'quant', 'reading'])

In [111]:
print(ps_vs.loc[0, ])

ident_x           dyer
personal       William
family            Dyer
taken_x            619
person_x          dyer
quant              rad
reading           9.82
ident_y            619
site              DR-1
dated       1927-02-08
taken_y            619
person_y          dyer
Name: 0, dtype: object